<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns="http://logging.apache.org/log4net/schemas/log4net.xsd">
	<appender name="rollingLogFile" type="log4net.Appender.RollingFileAppender">
		<file value="C:\Logs\WPFSandbox\app.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="100KB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-6level %logger - %message %exception%newline" />
		</layout>
	</appender>
	<appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
	</appender>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="rollingLogFile" />
	</root>
</log4net>